<div >
    <div>
		<div id="urlFieldSet">
			<div id="entry0">
				<select ng-model="method[0]">
					<option value="GET">Get</option>
					<option value="POST">Post</option>
				</select>
				<input type="text" ng-model="url[0]" ng-pattern="/^[a-z0-9.-]+$/"></input>
				<input class="btn" type="button" ng-click="getData(0)" value="Get Data"></input>
				<input class="btn" type="button" ng-click="appendField()" value="+"></input>
                <input class="btn" type="button" ng-click="deleteField()" value="-"></input>
				{{data[0]}}
				<br />
			</div>
		</div>
	</div>
	<h3>{{index}} - {{method}}: {{url}}</h3>
</div>